.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: coloranimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal; */

    animation: widthAnimate 3s ease-in 0s 4 alternate;
}

@keyframes widthAnimate {
    from{
        width:10px;
        background-color: green;
        font-size:10px;
        color: hotpink
    }
    to{
        width:400px;
        background-color: blue;
        font-size:50px;
        color:white;
        border-radius: 15px;
        text-align: center;
    }
}

@keyframes fontAnimation {
    from {
        font-size:20px;
    }
    to{
        font-size:40px;
    }
}

@keyframes coloranimate {
    from{
        background-color: green;
    }
    to{
        background-color: yellow;
    }
}